LONGPORT_APP_KEY=
LONGPORT_APP_SECRET=
LONGPORT_ACCESS_TOKEN=
LONGBRIDGE_APP_KEY=
LONGBRIDGE_APP_SECRET=
LONGBRIDGE_ACCESS_TOKEN=
GOOGLE_SHEET_ID=1zXbIfknybtivC5hgkqthyhqwK9OjYCKVadvJTPZrHqE
GOOGLE_SHEET_GID=1076580676
LOCAL_ETF_HOLDINGS_XLSX=D:\交易为生\deepvue\ETF_holdings_full_37_etfs_corrected.xlsx
MAX_HOLDINGS_PER_ETF=10
